@use 'variables';

main{
    display: flex;
    flex-direction: column-reverse;
    @media (min-width: 768px){
            & h2{
                font-size: 2.625em;
            }
            & p{
                width: 600px;
                font-size: 1.125em;
                margin: 40px auto;
            }
            & button{
                width: 163px;
                margin-bottom: 46px;
                height: 56px;
                font-size: 1.125em;
            }
            & picture{
                width: 80%;
                margin: 24px auto}
        }
    }
    @media (min-width: 1024px){
        main{
            flex-direction: row;
            margin: 0 180px 20px 165px;
            justify-content: space-between;
            & picture{
                width: 400px;
                margin: 0;
            }
            & h2{
                text-align: left;
                font-size: 4.5em;
                width: 549px;
                margin: 100px o 48px;
            }
            & p{
                text-align: left;
                font-size: 1.125em;
                width: 445px;
                font-weight: 500;
                margin: 0 0 25px;
            }
            & button{
                margin: 0 0 116px;
            }
        }
    }    
    & .hero-img{
        width: 100%;
        margin-bottom: 48px;
        /* display: none; */
    }
    & h2{
        text-align: center;
        font-size: 2.25em;
        margin-bottom: 16px;
    }
    & p{
        text-align: center;
        line-height: 26px;
        color: variables.$Medium-Gray;
        margin: 0 16px 24px;
        font-size: 0.89em;
    }
    & button{
        background-color: variables.$Almost-Black;
        color: variables.$Almost-White;
        width: 136px;
        height: 48px;
        border-radius: 15px;
        display: block;
        margin: 0 auto;
        margin-bottom: 52px;
        &:hover{
             background-color: variables.$Almost-White;
             color: variables.$Almost-Black;
             border: 1px solid variables.$Almost-Black;
        }
    }
    & .logos{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        margin-bottom: 96px;
    }
    & .databiz{
        width: 81px;
    }
    & .audiophile{
        width: 52px;
    }
    & .meet{
        width: 64px;
    }
    & .maker{
        width: 59px;
    }

